.wrapper{
    width: 80%;
    margin: 2% auto auto auto;;
    height: 80%;
}

.noValidError{
    color:red;
    float: left;
    height: 20px;
    margin-bottom: 0;
}

.saveSpace{
    height: 20px;
}

.saveLoaderSpace{
    width: 40px;
    height: 40px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#testerNameInput{
    margin-right: 5px;
}

#fetchButton{
    background-color: green;
    color: black;
    font-weight: 500;
    font-size: 24x
}

#fetchButton:disabled,
button[disabled]{
    background-color: rgb(27, 59, 6);
    cursor: not-allowed;
}
